# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env.local
.env.*.local

# Build artifacts
dist/
build/
*.out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/

# Editor / IDE directories
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db
